@import url('https://font.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');/*fonte importada*/
*{
    padding: 0;  /*configurações de formatação da página*/
    margin: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
}
body { /*corpo da página*/
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #41002d; /*cor de fundo da página*/
}

input{
    margin: 2px;
    border: none;
    border-radius: 3px;
}

input[type=text]{
    width: calc(100% - 4px);
    height: 40px;
}

input[type=button]{
    width: 100px;
    height: 50px;
    transition: ease 0.2s;
    cursor: pointer; /*muda o cursor para mãozinha pra demonstrar que é um botão*/
}
div#calculadora{
    box-shadow: 0 0 20px black;
    
}
div#calculadora div{
    display: flex;
}
div#calculadora div input:nth-child(4){/*botão de sinais são mais escuros*/
    background: #b4b4b4;
}
div#quarta input:nth-child(1){/*cor do botão C*/
    background: #f11a1a;

}
div#quarta input:nth-child(1), div#calculadora{/*configurações de bordas*/
    border-bottom-left-radius: 35px;
}
div#quarta input:nth-child(3){/*cor do botão igual*/
    background: #1a4cf1;
}
div#quarta input:nth-child(4), div#calculadora{/*configuração de borda, apenas visual*/
    border-bottom-right-radius: 35px;
}
input[type=button]:hover{ /*sugestão de melhoria visual, efeito que dá ao se passar o mouse por cima, por isso é 'hover'*/
    filter: brightness(50%);
}
input[type=button]:active{/*mesmo caso da melhoria de cima, mas acontece qdo aperta, vai diminuir a escala do botão, simula o aperto*/
    transform: scale(0.9);
}